@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");

.h1 {
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 1.25rem;
  padding-top: 24px;

}

.budgetMain {
  padding: 20px 20px 0 20px;
  background-color: #f0f2f5;
}

.pesquisa {
  margin-top: 20px;
  width: 100%;
  min-height: 83px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 2px 1px -1px, rgba(0, 0, 0, 0.14) 0px 1px 1px 0px, rgba(0, 0, 0, 0.12) 0px 1px 3px 0px;
  border-radius: 5px;
  padding: 20px;
}

.divPrimary {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  row-gap: 24px;
}

.divPrimary .buttonFiltro {
  width: 113px;
  height: 40px;
  font-size: 18px;
  background-color: #1acaba;
  margin-left: 37px;
}

.divPrimary form {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  max-width: 100%;
  row-gap: 24px;
}

.divPrimary .buttonBudget {
  background-color: #1c4961;
  height: 40px;
}

.pesquisa input {
  width: 500px;
  max-width: 90%;
  height: 40px;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #c9c8c8;
}

.pesquisa input::placeholder {
  color: #8f8f8f;
  padding-left: 15px;
}

.buttonSearch {
  width: 40px;
  height: 40px;
  margin-left: 12px;
  text-align: center;
  background-color: #1c4961;
}

.buttonSearch span {
  margin: 0;
}

.thead {
  background: #1c4961;
  width: 100%;
  height: 66px;
  color: white;
}

.thead th {
  max-width: 90px;
  background: #1c4961;
  border-right: 1px solid #1c4961;
  padding: 0 13px;
  font-size: 15px;
  font-weight: 500
}

.thead {
  border-radius: 20px;
  padding-left: 10px;
  padding-right: 10px;
}

.thead th:first-child {
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;

}

.thead th:last-child {
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.table {
  border-collapse: separate;
  border-spacing: 0 10px;
  overflow-x: auto;
  width: 100%;
  max-width: 100%;

}

.table td {
  padding: 20px;
}

.table tr:nth-child(even) {
  background-color: white;
  /* Cor para linhas pares */
}

.table tr:nth-child(odd) {
  background-color: #F1F1F1;
  /* Cor para linhas ímpares */
}

.table td,
.table th {
  white-space: break-spaces;
}

.table tbody {
  background-color: white !important;
  text-align: center;
}

.tbodyContent {
  background-color: white !important;
  width: 100%;
}

@media (max-width: 900px) {
  .table {
    display: block;

  }

  .divPrimary form {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 100%;
    row-gap: 24px;
    align-items: center;
  }

  .table td,
  .table th {
    white-space: normal;
  }

  .divPrimary {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 24px
  }

  .divPrimary button {
    margin-left: 0;
  }
}